.country{
    background-color: aqua;
    border-radius: 50px;
    border: 1px solid black;
    padding: 20px;
}

.country img{
    width: 300px;
    height: 180px;
}

.country h1{
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}